.Input-container {
  width: 200px;
  position: relative;
}
.Input {
  font-size: 16px;
  background-color: transparent;
  width: 100%;
  display: block;
  margin: 1.5rem 0;
  padding: 0.5rem .25rem;
  border: none;
  border-bottom: 3px solid var(--main-color);
  outline: none;
}
.Input-label {
  color: #ccc;
  width: 100%;
  position: absolute;
  top: 8px;
  left: 3px;
  transition: all 0.3s ease;
  pointer-events: none;
}
.Input:focus + .Input-label, .Input:valid + .Input-label{
  top: -15px;
  font-size: 16px;
  color: var(--main-color);
}
/* .Input:invalid + .Input-label{
  top: 8px;
  font-size: initial;
  color: #ccc;
} */
.Input:required, .Input:invalid {
  background-color: transparent;
}