.Input {
  width: 200px;
  position: relative;
}
.Input-field {
  font-size: 16px;
  background-color: transparent;
  width: 100%;
  display: block;
  margin: 1.5rem 0;
  padding: 0.5rem .25rem;
  border: none;
  border-bottom: 3px solid var(--main-color);
  outline: none;
}
.Input-label {
  color: #ccc;
  width: 100%;
  position: absolute;
  top: 8px;
  left: 3px;
  transition: all 0.3s ease;
  pointer-events: none;
  user-select: none;
}
.Input-field:focus + .Input-label {
  top: -15px;
  font-size: 16px;
  color: var(--main-color);
}
.Input-field:valid + .Input-label {
  top: -15px;
  font-size: 16px;
  color: var(--main-color); /*Ver la posibilidad de otro color o no*/
}
.Input-field:required, .Input-field:invalid {
  background-color: transparent;
}