.Icon-passwordEye {
  fill: #ccc;
  width: 1.25rem;
  height: auto;
  position: absolute;
  visibility: hidden;
  top: .7rem;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
.Input-field:valid ~ .Icon-passwordEye{
  opacity: 1;
  visibility: visible;
}