.CounterControl {
  /*132px*/
  width: 120px;
  height: 38px;
  position: relative;
}
.Input--counterControl {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Input--counterControl .Input-field {
  width: 50px;
  height: 38px;
  text-align: center;
  margin: 0;
  padding: .4rem 0;
  padding-left: .8rem;
  padding-right: 0px;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  border-radius: 0rem;
  box-sizing: border-box;
}
.CounterControl-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.Button--increment, .Button--decrement {
  fill: #ffffff;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.Button--increment {
  border-radius: 0 .25rem .25rem 0;
}

.Button--decrement {
  border-radius: .25rem 0 0 .25rem;
}

.Button--increment:disabled, .Button--decrement:disabled {
  border: 2px solid var(--main-color);
}

.CounterControl .IconContainer {
  width: 1.7rem;
  height: 1.7rem;
}

.Button--increment:hover , .Button--decrement:hover {
  fill: var(--main-color);
}

.Button--increment:disabled , .Button--decrement:disabled {
  fill: #ffffff;
}