.CounterControl {
  /*132px*/
  width: 148px;
  height: 38px;
  position: relative;
}
.Input--counterControl {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Input--counterControl .Input-field {
  width: 40px;
  text-align: center;
  margin: 0;
  padding: .4rem 0;
  padding-left: .8rem;
  padding-right: 0px;
  border: 2px solid var(--main-color);
  border-radius: .25rem;
}
.CounterControl-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.Button--increment, .Button--decrement {
  fill: var(--main-color);
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.CounterControl .IconContainer {
  width: 1rem;
  height: auto;
}

.Button--increment:hover , .Button--decrement:hover {
  fill: #ffffff;
}
